.header-page {
  height: 90px;
  background-color: #b3b3b3;
}

.logo-header {
  max-width: 100px;
}

.logo-header img {
  width: 100%;
}

.navbar,
.header-logo,
.header-share {
  vertical-align: middle;
  display: inline-block;
  width: 33.33%;
}

.share-list img {
  background-color: white;
  border-radius: 50%;
}

.header-logo img {
  float: left;
}

.navbar li {
  line-height: 90px;
  padding: 0 15px;
  display: inline-block;
}

.navbar li a {
  font-size: 18px;
  color: black;
  transition: all ease-in-out .4s;
}

.navbar li a:hover {
  color: #61daf9;
}

.header-share ul {
  float: right;
}

.header-share li {
  padding: 0 5px;
  display: inline-block;
}

.header-share li img {
  max-width: 40px;
}
